.retex-port > .container {
    display: inline-block;
    width: 100%;
}

.retex-port .socket {
    border: none;
    border-radius: 0px;
    width: 8px;
    height: 8px;
    background: #777;
    vertical-align: top;
    margin-top: 6px;
    margin-bottom: -8px;
}

.retex-output .socket.output {
    margin-right: -32px;
    margin-left: 14px;
}

.retex-input .socket.input {
    margin-left: -22px;
    margin-right: 14px;
}